In [22]:

i = 10
while i <20:
    print(i)

    i= i+1

10
11
12
13
14
15
16
17
18
19

In [6]:
j = 20
while j >=1:
    print(j)
    if(j ==50):
        break
    j +=1

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
z= 0
while z <=10:
    z +=1
    if z== 3:
     continue
    print(z)
else:
   print("condition is worng")

1
2
4
5
6
7
8
9
10
11
condition is worng

In [10]:
bangles = ["pink","yellow","red","green"]
for x in bangles:
    print(x)

pink
yellow
red
green

In [11]:
for y in"neelima":
    print(y)

n
e
e
l
i
m
a

In [19]:
subject = ["c ","c++","java","python"]

for x in subject:
    print(x)
    if x == "java":
      break

c
c++
java

In [20]:
name =["pooja","reeva","joyti"]

for x in name:
    if x == "joyti":
        break
    print(x)

pooja
reeva

In [2]:
def function1():
    print("hello world")



function1()

hello world

In [3]:
def addname(fname):
    print(fname,"sharma")

addname("ravi")
addname("kavita")

ravi sharma
kavita sharma

In [ ]:
def email(femail):
    print(femail,"@email.com")


email("neha204")
email("sonal20")

neha204 @email.com
sonal20 @email.com

In [7]:
def full_name(fname,sname):
    print(fname,sname)
full_name("neha", "soni")

neha soni

In [29]:
def student_code(*code):
  print("student code "  +code[1])

student_code("102", "501", "852")

student code 501

In [34]:
def each_list(child1 , child2 ):
   print("student name" , + child2)
  
each_list(child1= "megha" , child2= "abhi")

TypeError: bad operand type for unary +: 'str'