In [22]:

i = 10
while i <20:
    print(i)

    i= i+1

10
11
12
13
14
15
16
17
18
19

In [6]:
j = 20
while j >=1:
    print(j)
    if(j ==50):
        break
    j +=1

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [9]:
z= 0
while z <=10:
    z +=1
    if z== 3:
     continue
    print(z)
else:
   print("condition is worng")

1
2
4
5
6
7
8
9
10
11
condition is worng

In [10]:
bangles = ["pink","yellow","red","green"]
for x in bangles:
    print(x)

pink
yellow
red
green

In [11]:
for y in"neelima":
    print(y)

n
e
e
l
i
m
a

In [19]:
subject = ["c ","c++","java","python"]

for x in subject:
    print(x)
    if x == "java":
      break

c
c++
java

In [20]:
name =["pooja","reeva","joyti"]

for x in name:
    if x == "joyti":
        break
    print(x)

pooja
reeva

In [2]:
def function1():
    print("hello world")



function1()

hello world

In [3]:
def addname(fname):
    print(fname,"sharma")

addname("ravi")
addname("kavita")

ravi sharma
kavita sharma

In [ ]:
def email(femail):
    print(femail,"@email.com")


email("neha204")
email("sonal20")

neha204 @email.com
sonal20 @email.com

In [7]:
def full_name(fname,sname):
    print(fname,sname)
full_name("neha", "soni")

neha soni

In [29]:
def student_code(*code):
  print("student code "  +code[1])

student_code("102", "501", "852")

student code 501

In [2]:
def each_list( child1 , child2 ):
    print("student name" , + child2)
  
each_list( child1= "megha" , child2= "abhi")

TypeError: bad operand type for unary +: 'str'

In [ ]:
list1=["neha","ravi","ridhima"]
print(list1)
print(len(list1))
print(type(list1))

['neha', 'ravi', 'ridhima']
3
<class 'list'>

In [6]:
list2=["aadi", True, 401]
print(list2)

['aadi', True, 401]

In [9]:
mycontrctor=list(("apple","bannana","apple"))
print(type(mycontrctor))
print(mycontrctor)

<class 'list'>
['apple', 'bannana', 'apple']

In [21]:
list4 = ["math","science","bio","commerece","math","bio"]
if "math" in list4:
    print("yes , math present")
print(list4[0:])
print(list4[-4:-1])
print(list4[2:5])

yes , math present
['math', 'science', 'bio', 'commerece', 'math', 'bio']
['bio', 'commerece', 'math']
['bio', 'commerece', 'math']

In [26]:
list5=["pink","yellow","orange","green","bobypink","blue","silver"]
print(list5[0:5])
list5[0] ="rani"
print(list5)
list5[1:4]=("purple","light green")
print(list5)
print(len(list5))
list5[2:6]=("rama","mengenta")
print(list5)

['pink', 'yellow', 'orange', 'green', 'bobypink']
['rani', 'yellow', 'orange', 'green', 'bobypink', 'blue', 'silver']
['rani', 'purple', 'light green', 'bobypink', 'blue', 'silver']
6
['rani', 'purple', 'rama', 'mengenta']

In [30]:
print(list5)
list5.append("yellow")
list5.insert(2,"skyblue")
print(list5)

['rani', 'purple', 'rama', 'mengenta', 'yellow']
['rani', 'purple', 'skyblue', 'rama', 'mengenta', 'yellow', 'yellow']

In [36]:
tuple1=("brown","mustrad")
list5.extend(tuple1)
list5.remove("brown")
print(list5)

['rani', 'skyblue', 'mengenta', 'yellow', 'yellow', 'mustrad', 'brown', 'mustrad', 'brown', 'mustrad', 'brown', 'mustrad', 'brown', 'mustrad', 'brown', 'mustrad']

In [40]:
list6=["aa","bb","cc","hh"]
list6.pop(1)
print(list6)
del list6[2]
print(list6)
list6.clear()
print(list6)

['aa', 'cc', 'hh']
['aa', 'cc']
[]

In [ ]:
dict1 = {
    "brand": "ford",
    "price": 1002023,
    "year" : 2010
}
print(dict1)

{'brand': 'ford', 'price': 1002023, 'year': 2010}

In [3]:
dic2 = dict(name ="neelima", age =34)
print(len(dic2))

2

### list compression

In [1]:
square = [x**2 for x in range(1,6) ]
print(square)

[1, 4, 9, 16, 25]

In [3]:
even = [x for x in range(10) if x% 2 ==0]
print(even)

[0, 2, 4, 6, 8]

In [4]:
words =["power","python"]
upper = [w.upper() for w in words ]
print(upper)

['POWER', 'PYTHON']

In [6]:
word1 =["PYTHON", "POWER"]
lowercase = [w.lower() for w in word1]
print(word1)

['PYTHON', 'POWER']

In [7]:
matrix =[[1,2],[3,4],[5,6]]
flatterend =[num for row in matrix for num in row]
print(matrix)

[[1, 2], [3, 4], [5, 6]]