In [5]:
student = ["nehal",102,"mba"]
print(student)

['nehal', 102, 'mba']

In [14]:

student[0]="kaya"
print(student)
student.pop(0)
print(student)
student[0:2]
student.append(60)

IndexError: list assignment index out of range

In [7]:
frame1 ={
"name" :["pooja","riya"],
 "city"  : ["satna","jabalpur"],
 "pin" :[1020,2031]
}
type(frame1)

dict

In [8]:
import pandas as pd

In [10]:
data1 =pd.DataFrame(frame1)

In [11]:
data1

    name      city   pin
0  pooja     satna  1020
1   riya  jabalpur  2031

In [13]:
index1 =["r1","r2"]

In [15]:
data2 = pd.DataFrame(frame1,index = index1)
data2

     name      city   pin
r1  pooja     satna  1020
r2   riya  jabalpur  2031

In [16]:
data2.index

Index(['r1', 'r2'], dtype='object')

In [20]:
data2.columns

Index(['name', 'city', 'pin'], dtype='object')

In [21]:
data2.shape

(2, 3)

In [22]:
data2.values

array([['pooja', 'satna', 1020],
       ['riya', 'jabalpur', 2031]], dtype=object)

In [23]:
data2.dtypes

name    object
city    object
pin      int64
dtype: object

In [24]:
l1= ["set1","set2"]
l2=["rohan","aadi"]

In [27]:
frame2 =pd.DataFrame(l2,l1)
frame2

          0
set1  rohan
set2   aadi

In [28]:
index2 =["row1","row2"]

In [29]:
data3 = pd .DataFrame(frame2 ,index= index2)
data3

        0
row1  NaN
row2  NaN

In [31]:
array1=[10,20,30]
type(array1)

list

In [32]:
import numpy as np

In [34]:
array2=np.array(array1)
array2

array([10, 20, 30])

In [38]:
array3= [[20,40,60],
         [50,40,60]]
type(array3)
array4= np.array(array3)
array4

array([[20, 40, 60],
       [50, 40, 60]])

In [39]:
array5=[10,20,50]
for i in array5:
    print(i)

10
20
50

In [45]:
np.sum(array5)
np.median(array5)
np.mean(array5)

np.float64(26.666666666666668)

In [46]:
def school(func):
 def wrapper(*args,**kwargs):
     print(f"welcome to school")
     s1 = func(*args,**kwargs)
     print(f"print functiom:{s1}")
     print(f"admission complete")
 return wrapper

In [52]:
@school
def student():
    print("admission done")

student()

welcome to school
admission done
print functiom:None
admission complete

In [53]:
@school

def add(a,b):
    return a+b
print(add(3,5))

welcome to school
print functiom:8
admission complete
None

In [54]:
class car:
    def __init__(self,brand,model):

     self.brand = brand
     self.model = model

    def drive(self):
        print(f"{self.brand},{self.model}")

In [55]:
c = car(brand ="exter", model= "ex102")
c

In [56]:
type(c)

__main__.car

In [58]:
c.model

'ex102'

In [60]:
c.drive()

exter,ex102

In [ ]:
class Bank:
    def __init__(self,balance,amount):
        
        self.balance= balance

    def deposite(self,amount):
        self.balance+=amount  

    def get_bal(self)   : 
        return self.balance


 acc = Bank (1500)
 acc.deposite(500)
 print(acc.get_bal())

IndentationError: unindent does not match any outer indentation level (<string>, line 13)

In [2]:
class Animal:
    def sound():
      print("some sound")

    def Dog(Animal):
        def sound(self):
          print("bark")
 dog = Dog ()
dog.sound()

IndentationError: unindent does not match any outer indentation level (<string>, line 8)

### lambda function

###lambda function

lambda function

In [3]:
##lambda function

In [8]:
square  = lambda x :x * x

print(square(5))

25

In [9]:
add = lambda a,b : a + b 

print(add(5,2))

7

In [11]:
def hello(name):
    print("hello mam how u",name)

hello("neelima")

hello mam how u neelima