In [1]:
a= 10

In [2]:
a

10

In [3]:
a

10

In [4]:
b=20

In [5]:
b

20

In [6]:
type(a)

int

In [7]:
b= str(a)

In [8]:
b

'10'

In [9]:
type(b)

str

In [10]:
a=[10,20,0]

In [11]:
a

[10, 20, 0]

In [12]:
type(a)

list

In [13]:
for i in a:
    print(i)

10
20
0

In [14]:
class student:
    def __init__(self,roll_no,name):
        self.roll_no = roll_no
        self.name = name

    def detail(self):
        print(f"student code :{self.roll_no}")
        print(f"name of student:{self.name}")

In [15]:
s1=student(101, "rohan")

In [16]:
s1.detail()

student code :101
name of student:rohan

In [17]:
s1.roll_no

101

In [18]:
data = {
     "name" : ["ravi","jaya"],
     "roll_no":[101,102]
    }

In [19]:
data

{'name': ['ravi', 'jaya'], 'roll_no': [101, 102]}

In [20]:
import pandas as pd

In [21]:
frame1 = pd.DataFrame(data)

In [22]:
frame1

   name  roll_no
0  ravi      101
1  jaya      102

In [23]:
frame1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     2 non-null      object
 1   roll_no  2 non-null      int64
dtypes: int64(1), object(1)
memory usage: 164.0+ bytes

In [24]:
frame1.columns

Index(['name', 'roll_no'], dtype='object')

## properties of dataframe

In [25]:
frame1.index

RangeIndex(start=0, stop=2, step=1)

In [26]:
frame1.columns

Index(['name', 'roll_no'], dtype='object')

In [27]:
frame1.dtypes

name       object
roll_no     int64
dtype: object

In [28]:
frame1.shape

(2, 2)

In [29]:
frame1.values

array([['ravi', 101],
       ['jaya', 102]], dtype=object)

In [30]:
frame1.head(2)

   name  roll_no
0  ravi      101
1  jaya      102

In [31]:
frame1.tail(1)

   name  roll_no
1  jaya      102

In [32]:
frame1.isna().sum()

name       0
roll_no    0
dtype: int64

### creating new class.. to get information.

In [33]:
class customer:
    def __init__(self,cus_name,cus_id,cus_contact, cus_address):
      self.cus_name = cus_name
      self.cus_id = cus_id
      self.cus_contact = cus_contact
      self.cus_address = cus_address

     ### create function for class
    def retrive(self):
       print(f"customer  is  : {self.cus_name}") 
       print(f" id of customer :{self.cus_id}")
       print(f"conatct number id :{self.cus_contact}")
       print(f"verification address is  :{self.cus_address}")

In [34]:
customer1 = customer("rajiv" ,"R@1256","8596455623" , "hedrabad")

In [35]:
customer1.retrive()

customer  is  : rajiv
 id of customer :R@1256
conatct number id :8596455623
verification address is  :hedrabad

In [36]:
customer2 = customer("aprna" ,"A5623" , 568545655, "raipur")

In [37]:
customer2.retrive()

customer  is  : aprna
 id of customer :A5623
conatct number id :568545655
verification address is  :raipur

In [38]:
customer2.cus_address

'raipur'

In [39]:
customer1.cus_contact

'8596455623'

In [40]:
customer1.cus_address =" pune"

In [41]:
customer1.retrive()

customer  is  : rajiv
 id of customer :R@1256
conatct number id :8596455623
verification address is  : pune

In [42]:
from dataclasses import dataclass
from typing import Literal

In [56]:
@dataclass
class detail:
    name : str
    gender : Literal["male", "female"]
    work : str

    def __post_init__(self):
        error = []
        if type(self.name) != str:
           error.append("name should string")
         
        if self.gender not in ["male ","female"]:
            error.append("gender sgould be male or female")
        if type(self.work)!= str:
           error.append("work should be string")    

        if error:
            raise ValueError("\n".join(error))      

    def show(self):
     print(f"name is :{self.name}")
     print(f"gendre is:{self.gender}")
     print(f"work is  :{self.work}")

In [49]:
d1 = detail(name="neha",gender="female",work="teacher")

In [50]:
d1

detail(name='neha', gender='female', work='teacher')

In [57]:
d2= detail("jaya","good",23)

ValueError: gender sgould be male or female
work should be string

In [58]:
d3 =detail (name="rohini",gender = "female", work= 123)

ValueError: work should be string

In [83]:
@dataclass
class account_from:
    account_name: str
    account_no : int
    open_date : int
    account_gender : Literal["female","male"]

    def __post_init_(self):
        debug =[]
        if type(self.account_name) != str:
            debug.append("should be string")
        if type(self.account_no) != int:
           debug.append("should be number")   
        if type(self.open_date) != int:
            debug.append("should be integer")
        if self.account_gender is not ["female" ,"male"]:
            debug.append("should be male or female")

        if debug:
            raise ValueError("\n".join(debug))
        
    def  detail1(self):
        print(f"accountant name :{self.account_name}")
        print(f"acoount number  :{self.account_no}")
        print(f"account opening date :{self.open_date}")
        print(f"gender of accountant  :{self.account_gender}")

In [84]:
account1= account_from(account_name="mistra", account_no= 12032 , open_date= 12-3-24 ,account_gender= "male")

In [69]:
account1.detail1()

accountant name :mistra
acoount number  :12032564
account opening date :-15
gender of accountant  :male

In [85]:
account2 =account_from(account_name= "kavitaji", account_no= "ll", open_date= 2-10-23 ,account_gender ="good")